.flex-container{
	border: 10px white solid;
	background-color: white;
	margin-left: 10em;
	margin-right: 10em;
}
.heading-container{
	text-align: right;
	background-color: #A8F0F0;
}
#h2-heading-box{
	font-size: 14pt;
}
.image{
	float: right;
	margin: 10px;
}
.body-container{
	border: 4px #C2E9E9 solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
	height: 220px;
	overflow: hidden;
}
.h2-date-box{
	border-bottom: 2px blue dashed;
}
.additional-container{
	float: left;
	margin: 10px;
	border: 5px #009097 solid;
	padding: 3px;
	background-color: #A8F0F0;
}